<div class="game-item" data-toggle="modal" data-target="#gameModal" data-banner="{{this.mediaFiles.FEATURED_HALF.[620]}}" data-name="{{this.name}}" data-desc="{{this.description}}" data-play="{{this.gamePlayUrl}}" data-rating="{{this.rating}}">
    <img src="{{this.mediaFiles.ICON.[144]}}">
    <h3>{{this.name}}</h3>
</div>